.logoutbutton {
    border: none;
    background: #fff;
    font-weight: 500;
}

.sidebar_ul i {
    width: 30px !important;
    font-size: 18px !important;
    padding-right: 13px;
}

.closebtn:hover {
    text-decoration: none !important;
    color: #fff !important;
}