.carousel .control-dots,.carousel .carousel-status{
    display: none !important;
}

.carousel .slider-wrapper{
    margin-top: 50px !important;
}

.carousel .thumbs-wrapper{
    margin: 0 !important;
}

.carousel.carousel-slider .control-arrow{
   height: 30px !important;
   width: 30px !important;
   top:48% !important;
   border-radius: 6px !important;
   opacity: 0.5 !important;
   background: #000 !important;
   color: #fff !important;
   display: flex !important;
   align-items: center;
   justify-content: flex-start;
}

.carousel.carousel-slider .control-arrow:hover{
    opacity: 0.8 !important;
 }

.carousel .thumb{
    cursor: pointer;
}

.holder-mt-xsmall{
    margin-top: 50px !important;
}

a.image-hover-scale{
    display: flex !important;
    justify-content: center;
}

/* 
.carousel .slide .legend{
    background: transparent !important;
    color: #000 !important;
} */